* {
    all: unset;
    font-family: CaskaydiaCoveNerdFontMono;
    font-weight: bold;
}
@import "scripts/colors/colors.scss";
@import "scss/lib.scss";

@import "scss/bar.scss";
@import "scss/powermenu.scss";
// @import "scss/launcher.scss";

// @import "scss/notifications_popup.scss";

@import "scss/clock.scss";
@import "scss/control-center.scss";
@import "scss/indicator.scss";
@import "scss/language.scss";
// @import "scss/taskbar.scss";
// @import "scss/logo.scss";
@import "scss/quick-settings.scss";
@import "scss/picker.scss";
@import "scss/recorder-menu.scss";
@import "scss/stats.scss";
@import "scss/tray.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/workspaces.scss";
// @import "scss/weather.scss";
// @import "scss/music.scss";
// @import "scss/notifications.scss";
