.bar-widget {
    // @include window;
    padding: 0.3rem 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
}
