.control-center {
    // @include window;
    background-color: transparent;
    // background-color: $surface;
    margin: 0rem;
    padding: 0rem;
}

.control-center-inner {
    background-color: $surface;
    border-radius: 0.25rem;
    padding: 1rem;
    color: $onSurface;
    box-shadow: 0 0 4px 2px $surface;
    margin: 1rem;
}
