.indicator {
    background-color: $surfaceVariant;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-right: 0;
    transition: 0.3s;
}

.indicator-icon {
    margin: 0 0.35rem;
    font-size: 1.5rem;
}

.indicator:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
