.powermenu-box {
    @include window;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.powermenu-entry {
    margin: 0 0.5rem;
}

.powermenu-button {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    transition: 0.3s;
    padding: 3.25rem 4rem;
}

.powermenu-button:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}

.powermenu-icon {
    font-size: 4rem;
}

.powermenu-text {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
