.quick_settings_button {
    transition: 500ms;
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 0.25rem;
    padding: 0.75rem;
    font-size: 1.05rem;
}

.quick_settings_button:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}

.quick_settings_button_toggled {
    background-color: $primary;
    color: $surface;
}

.quick_settings_button_toggled:hover {
    background-color: mix($primary, $onSurface, 70%);
}

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

.quick-settings-state {
    font-size: 0.9rem;
    color: $onSurfaceVariant;
}

.quick-settings-state-enabled {
    color: $surfaceVariant;
}

.quick-settings-button-dropdownable {
    border-radius: 0rem;
    margin-right: 1px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.quick-settings-dropdown {
    border-radius: 0rem;
    margin-left: 1px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.left-top-plite {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.left-bottom-plite {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
}

.right-top-plite {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.right-bottom-plite {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
}
