.stats {

  background-color: $background;
  // background-color: $surface;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  // padding: 1rem;
  // margin: 0 0.5rem;
  // margin-right: 0;
  // transition: 0.3s;

  & circular-progress {
    background-color: $surfaceVariant;
    font-size: 1.5rem;
  }

  & .cpu {
    color: $blue;
  }

  & .ram {
    color: $purple;
  }

  & .temperature {
    color: $red;
  }

  & .battery {
    color: $yellow;
    font-size: 1.0rem;
  }
}
