.systray {
    padding: 0.5rem;
}

.tray_box {
    @include window;
    min-width: 10rem;
    min-height: 1.5rem;
}

.tray_button {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.tray_button:hover {
    background-color: mix($surface, $onSurface, 70%);
}

tooltip {
    background-color: $surfaceVariant;
    color: $onSurface;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $onSurface;
    font-size: 1.1rem;
}

menu>menuitem {
    padding: 0.5rem 1rem;
    transition: 0.3s;
    border-radius: 1rem;
}

menu>menuitem:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
