.username {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.uptime {
    color: $onSurfaceVariant;
    font-size: 1rem;
}

.user-image {
    background-image: url("ava.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 0.25rem;
}

.open-powermenu-button {
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 0.25rem;
    padding: 0 1rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.open-powermenu-button:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}

.user-clock-time {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

.open-settings-button {
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    margin: 0.35rem 0;
    margin-left: 0.5rem;
    transition: 0.3s;
    font-size: 1.2rem;
}

.open-settings-button:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
