.volume-osd {
   @include window;
   min-width: 25rem;
}

.volume-control-center {
    margin-top: 1rem;
}

.volume-scale trough {
    background-color: $surfaceVariant;
    border-radius: 0.25rem;
    min-height: 2.25rem;
}


.volume-scale trough highlight {
    background-color: $primary;
    border-radius: 0.25rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: $onSurface;
    };

    &.more {
        color: $surface;
    };
}

.volume-arrow {
    color: $primary;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 0.25rem;
    transition: 0.3s;
}

.volume-arrow:hover {
    background-color: mix($surface, $onSurface, 70%);
}

.volume-mute {
    background-color: $surfaceVariant;
    color: $onSurface;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 0.25rem;
    transition: 0.3s;

    &.active {
        background-color: $primary;
        color: $surface;
    }

    &.active:hover {
        background-color: mix($primary, $onSurface, 70%);
    }
}

.volume-mute:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
