.workspaces {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: $surfaceVariant;
}

.workspace {
    border-radius: 0.25rem;
    background-color: $onPrimary;
    margin: 0 0.25rem;
    padding: 0 0.7rem;
    transition: 0.3s;

    &.current {
        background-color: $primary;
        padding: 0 2rem;
    }
}

.workspace:hover {
    background-color: mix($onPrimary, $onSurface, 70%);
    &.current {
        background-color: mix($primary, $onSurface, 70%);
    }
}
