$primary: #a9b1d6;
// $onPrimary: rgba(169, 177, 214, 0.5);
$onPrimary: #3b4261;
$primaryContainer: #732b64;
$onPrimaryContainer: #ffd7f1;
$secondary: #dcbed0;
$onSecondary: #3f2a38;
$secondaryContainer: #57404f;
$onSecondaryContainer: #f9daec;
$tertiary: #f4b9a2;
$onTertiary: #4b2717;
$tertiaryContainer: #663c2b;
$onTertiaryContainer: #ffdbcc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1a1b26;
$onBackground: #eae0e3;
$surface: #16161e;
// $surface: transparent;
$onSurface: #eae0e3;
$surfaceVariant: #24283b;
$onSurfaceVariant: #d2c3ca;
$outline: #9b8d94;
$shadow: #000000;
$inverseSurface: #eae0e3;
$inverseOnSurface: #342f32;
$inversePrimary: #8f437d;

$red: #f7768e;
$red1: #db4b4b;
$magenta: #bb9af7;
$magenta2: #ff007c;
$yellow: #e0af68;
$orange: #ff9e64;
$green: #9ece6a;
$green1: #73daca;
$green2: #41a6b5;
$purple: #9d7cd8;
$cyan: #7dcfff;
$teal: #1abc9c;
$blue: #7aa2f7;
$blue0: #3d59a1;
$blue1: #2ac3de;
$blue2: #0db9d7;
$blue5: #89ddff;
$blue6: #b4f9f8;
$blue7: #394b70;

